:root {
  --primary: #ff0f00;
  --color-1: #10101a;
  --color-2: #555;
  --bg-1: #f0f0f0;
  --bg-2: #dddddd;
  --bg-3: #bbbbbb;
}

:root.dark {
  --color-1: #f0f0f0;
  --color-2: #ccc;
  --bg-1: #10101a;
  --bg-2: #20202a;
  --bg-3: #30303a;
}
