.theme-checkbox {
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "FiraCode";
  color: var(--color-1);
}

.theme-checkbox input {
  width: 15px;
  height: 15px;
  accent-color: var(--primary);
}
