.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background: var(--bg-3);
  position: sticky;
  top: 0;
  left: 0;
}
