.view {
  width: 100%;
  height: 100%;
  color: var(--color-2);
}

.view-code {
  width: 100%;
  max-height: 100%;
  padding: 20px;
  color: var(--color-2);
  overflow-y: scroll;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.view-code h1 {
  color: var(--color-1);
  font-size: 30px;
  font-weight: 1000;
  border-bottom: 1px solid var(--color-2);
}

.view-code p {
  font-size: 18px;
}

.view-code blockquote {
  background: var(--bg-3);
  color: var(--color-2);
  padding: 10px;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
  border-left: 6px solid #ff3333;
  box-shadow: 5px 5px 10px -5px #000;
}

.view-code blockquote a {
  color: #ff3333;
  transition: all 300ms ease;
}

.view-code ul, ol {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.view-code table {
  margin: 20px auto;
  border: 1px solid #777;
  border-spacing: 0;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 20px -10px #000;
  border-radius: 10px;
}

.view-code table th {
  color: var(--color-primary);
  border-bottom: 1px solid #777;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.view-code table td {
  padding: 10px;
}

.view-code pre {
  box-shadow: 5px 5px 10px #0003;
  border-radius: 10px;
}

.view-code pre div {
  border-radius: 10px;
}

.view-code code {
  font-family: "FiraCode";
  background: var(--bg-2);
  color: var(--color-2);
  padding: 10px;
  border-radius: 7px;
  margin: 20px auto;
  word-wrap: break-words;
}
